/* variables */
// colors
$nav-background: #333;
$mega-menu-background: #555;
$sub-submenu-background: #555;

$menu-hover-background: #eeeeee;
$sub-menu-hover-background: #eeeeee;
$sub-submenu-hover-background: #eeeeee;

$link-color: #fff;
$link-hover-color: #000;
$sub-menu-link-hover-color: #000;
$sub-submenu-link-hover-color: #000;

// font
$link-font-size: 15px;
$link-font-size-submenu: 13px;

// width / height
$nav-height: 70px;
$logo-width: 200px;

// paddings
$list-padding-lr: 15px;
$list-padding-tb: 25px;
$sub-menu-list-padding-lr: 10px;
$sub-menu-list-padding-tb: 0px;

// margins
$logo-margin-left: 10px;



header.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

header.sticky + .page-content {
  //padding-top: calc(#{$nav-height} + 10px);
  padding-top: $nav-height;
}

.navigation {
  background: $nav-background;
  width: 100%;
  height: $nav-height;

  display: flex;
}

.logo {
  margin-left: $logo-margin-left;
  align-self: center;
  width: $logo-width;

  img {
    width: 100%;
    height: auto;
  }
}

#main-navigation {
  width: 100%;
  height: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    font-size: $link-font-size;
    letter-spacing: 1px;
    color: $link-color;
  }


  ul.menu {
    height: 100%;
    display: flex;
    justify-content: flex-end;

    > li {
      display: flex;
      align-items: center;

      > a {
        padding: $list-padding-tb $list-padding-lr;
      }
      &:hover {
        background: $menu-hover-background;
        > a {
          color: $link-hover-color;
        }
      }
    }

    li {

      a {

        + ul.sub-menu {
          display: none;
          position: absolute;
          padding-left: 0;
          list-style: none;
        }
      }
      &:hover {
        a + ul.sub-menu {
          display: flex;
          justify-content: center;
          background: $mega-menu-background;
        }
      }
      /* MEGA MENU */
      .sub-menu {
        width: 100%;
        height: auto;
        left: 0;
        top: 100%;
        padding: 40px;

        background: #333;

        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);


        li a {
          padding: $sub-menu-list-padding-tb $sub-menu-list-padding-lr;
          border: none;
          &:hover {
            color: $sub-menu-link-hover-color;
          }
        }

        .menu-col {
          > ul {
            margin-top: 15px;
            li {
              a {
                font-size: $link-font-size-submenu;

                &:hover {
                  color: $sub-submenu-link-hover-color;
                }
              }
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }


    li.active {
      background: $menu-hover-background;
      > a {
        color: $link-hover-color;
      }
    }


    /* ADD ICON TO MENU
    .has-sub-menu > a::after {
      content: '\f107';
      font-family: 'FontAwesome';
      padding-left:3px;
      font-size: 16px;
    }

    .has-sub-menu:hover > a::after {
      //content: '\f106';
      //font-family: 'FontAwesome';
      font-size: 16px;
      padding-left: 3px;
      //color: $rossfeld_green;
    }
    */

  }
}