/* variables */
// colors
$nav-background: #333;
$sub-menu-background: #555;
$sub-submenu-background: #555;

$menu-hover-background: #eeeeee;
$sub-menu-hover-background: #eeeeee;
$sub-submenu-hover-background: #eeeeee;

$link-color: #fff;
$link-hover-color: #000;
$sub-menu-link-hover-color: #000;
$sub-submenu-link-hover-color: #000;

// font
$link-font-size: 15px;
$link-font-size-submenu: 13px;

// width / height
$nav-height: 70px;
$logo-width: 200px;

// paddings
$list-padding-lr: 15px;
$list-padding-tb: 0;
$sub-menu-list-padding-lr: 10px;
$sub-menu-list-padding-tb: 5px;

// margins
$logo-margin-left: 10px;


header.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

header.sticky + .page-content {
  //padding-top: calc(#{$nav-height} + 10px);
  padding-top: $nav-height;
}

.navigation {
  background: $nav-background;
  width: 100%;
  height: $nav-height;

  display: flex;
}

.logo {
  margin-left: $logo-margin-left;
  align-self: center;
  width: $logo-width;

  img {
    width: 100%;
    height: auto;
  }
}

#main-navigation {
  width: 100%;
  height: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    font-size: $link-font-size;
    letter-spacing: 1px;
    color: $link-color;
  }

  // first layer
  ul.menu {
    list-style:none;
    position:relative;
    float: right;
    height: 100%;

    > li {
      height: 100%;
      position: relative;
      float: left;
      padding: $list-padding-tb $list-padding-lr;
      display: flex;

      &:hover {
        background: $menu-hover-background;
        > a {
          color: $link-hover-color;
        }
      }

      a {
        align-self: center;
        //add padding for clickable area here
      }
    }
  }

  // second layer
  ul.menu ul {
    background: $sub-menu-background;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    min-width: 100%;
    left: 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;

    li {
      > a {
        font-size: $link-font-size-submenu;
        padding: $sub-menu-list-padding-tb $sub-menu-list-padding-lr;
      }
      &:hover {
        background: $sub-menu-hover-background;
        > a {
          color: $sub-menu-link-hover-color;
        }
      }
    }

    // third layer
    ul {
      background: $sub-submenu-background;
      top: 50%;
      left: 100%;
      a {
        color: $link-color;
      }
      li:hover {
        background: $sub-submenu-hover-background;
        a {
          color: $sub-submenu-link-hover-color;
        }
      }
    }
  }

  // show submenu when hovering
  li:hover {
    > ul {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      transition-delay: 0s, 0s, 0.3s;
    }
  }

  li.active {
    background: $menu-hover-background;
    > a {
      color: $link-hover-color;
    }
  }

} /* main-navigation end */


// Display menu in front of page-content
.page-content {
  main, aside {
    z-index: -1;
  }
}