
$mmenu-trigger-width: 767px;
$normal-navigation-width: 768px;
$hamburger-color: #fff;


button#hamburger-icon {
  outline: none;
  margin-left: auto;

  span.hamburger-inner {
    background: $hamburger-color;

    &::before, &::after {
      background: $hamburger-color;
    }
  }
}
.hamburger--spring.is-active span.hamburger-inner {
  background: transparent !important;
}

/* MMENU */
@media (max-width: $mmenu-trigger-width) {
  #main-navigation {
    display: none !important;
  }
}

@media (min-width: $normal-navigation-width) {
  #mm-main-navigation{
    display: none !important;
  }
  #hamburger-icon {
    display: none !important;
  }
}