.news-link {
  text-decoration: none;
}

.newsbox-teaser {
  //height: 420px;
  margin: 15px 0;
  box-shadow: 2px 2px 7px 1px rgba(140,140,140,0.5);
  background: #fff;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    transition: all 1s;
  }

  &:hover img {
    transform: scale(1.05);
  }

  h5, h4 {
    padding: 10px;
  }

  * {
    margin: 0;
  }

}
