//POWERMAIL VARIABLES
$margin-tb: 10px;
$margin-lr: 0px;

$label-width: 20%;
$field-width: 80%;

//Display form inline (float: left), block (float: none)
$form-float: left;

//Form Submit-button styles
$submit-btn-padding-tb: 5px;
$submit-btn-padding-lr: 15px;
$submit-btn-border: none;
$submit-btn-border-radius: 5px;
$submit-btn-background-color: #646DEE;
$submit-btn-font-color: #fff;



.tx-powermail {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    legend {
      display: none;
    }

    .powermail_label {
      width: $label-width;
      float: $form-float;
      margin: $margin-tb $margin-lr;
    }

    .powermail_field {
      width: $field-width;
      float: $form-float;
      margin: $margin-tb $margin-lr;

      input.powermail_input {
        width: 100%;
      }

      textarea.powermail_textarea {
        width: 100%;
      }

      input.powermail_submit {
        padding: $submit-btn-padding-tb $submit-btn-padding-lr;
        border: $submit-btn-border;
        outline: none;
        background: $submit-btn-background-color;
        color: $submit-btn-font-color;
        border-radius: $submit-btn-border-radius;
      }
    }

  }
}



@media screen and (max-width: 767px) {

  .tx-powermail {
    fieldset {
      .powermail_label {
        width: 100%;
        float: none;
        margin: $margin-tb $margin-lr;
      }

      .powermail_field {
        width: 100%;
        float: none;
        margin: $margin-tb $margin-lr;

        input.powermail_input {
          width: 100%;
        }

        textarea.powermail_textarea {
          width: 100%;
        }

      }
    }
  }

}