.navigation {
  display: flex;
  height: 80px;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  opacity: 0.9;
}

.logo {
  margin: auto;
  margin-left: 0;
  align-self: center;
}



#main-navigation {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

#main-navigation ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0;
  height: 100%;
}

#main-navigation ul a
{
  display: block;
  text-decoration:none;
  padding:0 15px;
  font-size: 13px;
  letter-spacing:1px;
}

#main-navigation ul li
{
  position:relative;
  float:left;
  margin:0;
  padding: 28px 0;

  &:last-child {
    a + ul.sub-menu {
      left: -95px;
      width: 200px;
    }
  }
}

#main-navigation ul li.current
{
  background: #eeeeee;
}

#main-navigation ul li:hover
{
  background: #eeeeee;
}

#main-navigation ul ul
{
  display:none;
  position:absolute;
  width: 100%;
  top:100%;
  left:0;
  padding:0
}

#main-navigation ul ul li
{
  float:none;
  //width:200px;
  padding: 0;
  background: #eeeeee;
}

#main-navigation ul ul li:hover
{

}

#main-navigation ul ul a
{
  line-height:120%;
  padding:10px 15px;
  text-transform: capitalize;
}

#main-navigation ul ul ul
{
  top:0;
  left:100%
}

#main-navigation ul li:hover > ul
{
  display:block
}
