<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="col-sm-12 {f:if(condition: '{settings.limit} == 3',
                    then: 'col-md-4',
                    else: '{f:if(condition:\'{settings.limit} == 4\',
                    then: \'col-lg-3 col-md-6\')}')}">
    <n:link class="news-link" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
        <div class="newsbox-teaser">
            <f:if condition="{newsItem.mediaPreviews}">
                <!-- media preview element -->
                <f:then>

                        <f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
                            <f:if condition="{mediaElement.originalResource.type} == 2">
                                <f:image image="{mediaElement}" title="{mediaElement.title}" alt="{mediaElement.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}" />
                            </f:if>
                            <f:if condition="{mediaElement.originalResource.type} == 4">
                                <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                            </f:if>
                            <f:if condition="{mediaElement.originalResource.type} == 5">
                                <f:image image="{mediaElement}" title="{mediaElement.title}" alt="{mediaElement.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}" />
                            </f:if>
                        </f:alias>

                </f:then>
                <f:comment>
                    <f:else>
                        <f:if condition="{settings.displayDummyIfNoMedia}">
                            <div class="news-img-wrap">
                                <span class="no-media-element">
                                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                        <f:image src="{settings.list.media.dummyImage}" title="dummy image" alt="dummy image" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                                    </n:link>
                                </span>
                            </div>
                        </f:if>
                    </f:else>
                </f:comment>
            </f:if>

            <h5>{newsItem.title}</h5>

            <n:removeMediaTags>
                <f:if condition="{newsItem.teaser}">
                    <f:then>
                        <h4>{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</h4>
                    </f:then>
                    <f:else>
                        <h4>{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</h4>
                    </f:else>
                </f:if>
            </n:removeMediaTags>

            <f:comment>
                <p class="newsbox-date">
                    <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                        <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                        <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
                    </time>
                </p>
            </f:comment>
        </div>
    </n:link>
</div>

</html>