<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{news}">
		<f:then>
			<f:switch expression="{settings.templateLayout}">
				<f:case value="10">
					<f:if condition="{contentObjectData.layout} == 100">
						<!-- if CE-Layout is container (100) wrap with extra div "row" -->
						<f:then>
							<div class="row">
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<f:render partial="List/Newsbox" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</f:for>
							</div>
						</f:then>
						<!-- same with container-fluid (110) -->
						<f:else if="{contentObjectData.layout} == 110">
							<div class="row">
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<f:render partial="List/Newsbox" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</f:for>
							</div>
						</f:else>
						<f:else>
							<f:for each="{news}" as="newsItem" iteration="iterator">
								<f:render partial="List/Newsbox" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</f:else>
					</f:if>
				</f:case>
				<f:defaultCase>
					<div class="news-list-view" id="news-container-{contentObjectData.uid}">
						<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</f:for>
							</f:then>
							<f:else>
								<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
									<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
										<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
									</f:for>
								</n:widget.paginate>
							</f:else>
						</f:if>
					</div>
				</f:defaultCase>
			</f:switch>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>