<f:if condition="{slide.link}">
    <f:then>
        <f:link.typolink parameter="{slide.link}">
            <div class="snslider-image" style="background: url({slide.image.originalResource.publicUrl}) no-repeat center; background-size: cover; height: {settings.height}">
                <f:if condition="{slide.title} || {slide.description}">
                    <div class="snslider-caption">
                        <f:if condition="{slide.title}">
                            <h2>{slide.title}</h2>
                        </f:if>
                        <f:if condition="{slide.description}">
                            <f:format.raw>{slide.description}</f:format.raw>
                        </f:if>
                    </div>
                </f:if>
            </div>
        </f:link.typolink>
    </f:then>
    <f:else>
        <div class="snslider-image" style="background: url({slide.image.originalResource.publicUrl}) no-repeat center; background-size: cover; height: {settings.height}">
            <f:if condition="{slide.title} || {slide.description}">
                <div class="snslider-caption">
                    <f:if condition="{slide.title}">
                        <h2>{slide.title}</h2>
                    </f:if>
                    <f:if condition="{slide.description}">
                        <f:format.raw>{slide.description}</f:format.raw>
                    </f:if>
                </div>
            </f:if>
        </div>
    </f:else>
</f:if>