<h1>Timeline</h1>


<div class="timeline">
  <f:for each="{timelineEvents}" as="event">
    <div class="container">
      <div class="content">
        <h2>{event.year}</h2>
        <f:format.raw>{event.description}</f:format.raw>
        <f:image src="fileadmin/user_upload/map.jpg" />
        <f:debug>{event.image}</f:debug>
      </div>
    </div>
  </f:for>
</div>
