<f:layout name="Default" />
<f:section name="content">
    <f:render partial="Post/Form" arguments="{headline:'Add new Post',action:'add',submitmessage:'Create post!',blog:blog,post:post,tags:tags}" />
</f:section>