<f:layout name="Default" />
<f:section name="content">
    <h1>Delete post</h1>
    <p>Are you sure, you want to delete the Post: {post.title}?</p>

    <f:link.action action="show" controller="Blog" arguments="{blog:blog}" class="btn btn-primary">Go back</f:link.action>
    <f:link.action action="delete" arguments="{blog:blog,post:post}" class="btn btn-danger">Delete</f:link.action>
</f:section>