<f:layout name="Default" />
<f:section name="content">
    <h1>Show Post</h1>
    <dl class="dl-horizontal">
        <dt>Post title:</dt>
        <dd>{post.title}</dd>
        <dt>Post date:</dt>
        <dd><f:format.date format="d.m.Y / h:i a">{post.postdate}</f:format.date></dd>
        <dt>Post content:</dt>
        <dd><f:format.nl2br>{post.content}</f:format.nl2br></dd>
        <dt>Post-Tags</dt>
        <dd><f:for each="{post.tags}" as="tag">
            <span class="badge badge-secondary">{tag.tagvalue}</span>
        </f:for></dd>
        <dt>Post author:</dt>
        <dd>{post.author.fullname} (Email: {post.author.email})</dd>
    </dl>
    <f:link.action action="show" controller="Blog" arguments="{blog:blog}" class="btn btn-primary">Back to the Blog <strong>"{blog.title}"</strong></f:link.action>
</f:section>