<f:layout name="Default" />
<f:section name="content">
    <f:render partial="Post/Form" arguments="{headline:'Edit Post',action:'update',submitmessage:'Update post!',blog:blog,post:post}" />
</f:section>