<f:layout name="HomepageLayout" />
<f:section name="Main">

    <div class="page-content {f:if(condition: '{data.layout} == 3',
                             then: 'container',
                             else: '{f:if(condition:\'{data.layout}==4\',then: \'container-fluid\')}')}">
        <main class="">

            <f:format.raw>{CONTENT}</f:format.raw>

        </main>
    </div> <!-- container end -->

</f:section>