<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Public/Css/Style.css">
</head>
<body>
<div class="page-wrap">
  <header class="sticky">
    <div class="navigation">
      <div class="logo">
          <img src="https://sesamnet.ch/typo3conf/ext/snstarter/Resources/Public/Images/logo.svg" alt="">
      </div>
      <nav id="main-navigation">
        <ul class="menu">
          <li class="has-sub-menu active"><a href="#">Home</a>
            <ul class="sub-menu">
              <li><a href="#">Subpage</a></li>
              <li><a href="#">Subpage</a></li>
              <li><a href="#">Subpage</a>
                <ul>
                  <li><a href="#">subsub</a></li>
                  <li><a href="#">subsub</a></li>
                  <li><a href="#">subsub</a></li>
                </ul>
              </li>
              <li><a href="#">Subpage</a></li>
            </ul>
          </li>
          <li><a href="#">About</a></li>
          <li class="has-sub-menu"><a href="#">Team</a>
            <ul class="sub-menu">
              <li><a href="#">Subpage</a></li>
              <li><a href="#">Subpage</a>
                <ul>
                  <li><a href="#">subsub</a></li>
                  <li><a href="#">subsub</a></li>
                  <li><a href="#">subsub</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="page-content">



    <div class="container">

      <h1>Sesamnet starterpackage one</h1>
      <p>Includes basic html files for Homepage and Subpage - Layouts & backend-layouts for each.</p>
      <p>Sesamnet configuration can be added by including "snconfig" plugin.</p>
      <p>This plugin has configured navigation in setup.ts</p>
      <p>It uses fluidtemplates.</p>
      <br>
      <p>Use bootstrap scss files...</p>


<f:comment>
      <!-- possible bootstrap-grid setup -->
      <div class="row">
        <div class="col-4">
          <div class="item">

          </div>
        </div>
        <div class="col-4">
          <div class="item">

          </div>
        </div>
        <div class="col-4">
          <div class="item">

          </div>
        </div>
      </div> <!-- grid end -->


      <!-- possible bootstrap-grid setup -->
      <div class="row">
        <div class="col-4">
          <div class="item">

          </div>
        </div>
        <div class="col-4">
          <div class="item">

          </div>
        </div>
        <div class="col-4">
          <div class="item">

          </div>
        </div>
      </div> <!-- grid end -->
</f:comment>

    </div> <!-- container end -->
  </main>

  <footer>

  </footer>

</div>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="Public/JavaScript/script.js"></script>
</body>
</html>
