<f:layout name="SubpageLayout" />
<f:section name="Main">
    <div class="page-content {f:if(condition: '{data.layout} == 3',
                             then: 'container',
                             else: '{f:if(condition:\'{data.layout}==4\',then: \'container-fluid\')}')}">
        <div class="row">
            <main class="col-8">
                <f:format.raw>{CONTENT}</f:format.raw>
            </main>
            <aside class="col-4">
                <f:format.raw>{SIDEBAR}</f:format.raw>
            </aside>
        </div>
    </div>
</f:section>


