{namespace evw = Pluswerk\Simpleblog\ViewHelpers}

<h1>{headline}</h1>

<f:render partial="Error" arguments="{object:'blog'}" />

<f:form action="{action}" object="{blog}" name="blog" additionalAttributes="{role:'form'}">
    <div class="form-group">
        <label{evw:hasError(property:'title',then:' class="text-danger"')}>Blog title</label>
        <f:form.textfield property="title" class="form-control" />
    </div>
    <div class="form-group">
        <label>Blog description</label>
        <f:form.textarea property="description" class="form-control" />
    </div>
    <f:form.submit value="{submitmessage}" class="btn btn-primary" />
</f:form>