<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

	<f:switch expression="{mode}">
		<f:case value="headerimage">
			<div class="snslider-headerimage">
				<f:for each="{slides}" as="slide">
					<f:render partial="Show/Item" arguments="{slide:slide,settings:settings}" />
				</f:for>
			</div>
		</f:case>
		<f:case value="sliderselect">
			<div class="slider snslider-sliderselect">
				<f:for each="{slides}" as="slide">
					<f:render partial="Show/Item" arguments="{slide:slide,settings:settings}" />
				</f:for>
			</div>
		</f:case>
		<f:case value="sliderall">
			<div class="slider snslider-sliderall">
				<f:for each="{slides}" as="slide">
					<f:render partial="Show/Item" arguments="{slide:slide,settings:settings}" />
				</f:for>
			</div>
		</f:case>
	</f:switch>

	<script>
		//Fluid variables
		var autoplay = {settings.autoplay};
		var	autoplaySpeed = {settings.autoplayspeed};
		var	infiniteLoop = {settings.infiniteloop};
        var	showDots = {settings.dots};
        var	showArrows = {settings.arrows};
        var	slidesToShow = {settings.slidestoshow};
        var	slidesToScroll = {settings.slidestoscroll};
	</script>

</f:section>