<f:layout name="Default" />
<f:section name="content">
    <h1>Delete blog</h1>
    <p>Are you sure, you want to delete Blog: {blog.title}?</p>

    <f:link.action action="list" class="btn btn-primary">Go back</f:link.action>
    <f:link.action action="delete" arguments="{blog:blog}" class="btn btn-danger">Delete</f:link.action>
</f:section>