<f:layout name="Default" />
<f:section name="content">
    <h1>Show blog</h1>
    <dl class="">
        <dt>Blog title:</dt>
        <dd>{blog.title}</dd>
        <dt>Blog description:</dt>
        <dd><f:format.nl2br>{blog.description}</f:format.nl2br></dd>
    </dl>

    <f:if condition="{blog.posts}">
        <ul class="list-group">
            <f:for each="{blog.posts}" as="post">
                <li class="list-group-item">
                    {post.title}
                    <f:for each="{post.tags}" as="tag">
                        <span class="badge badge-secondary">{tag.tagvalue}</span>
                    </f:for>
                    <f:link.action action="deleteConfirm" controller="Post" arguments="{blog:blog,post:post}" class="btn btn-primary btn-sm float-right">DEL</f:link.action>
                    <f:link.action action="updateForm" controller="Post" arguments="{blog:blog,post:post}" class="btn btn-primary btn-sm float-right">EDIT</f:link.action>
                    <f:link.action action="show" controller="Post" arguments="{blog:blog,post:post}" class="btn btn-primary btn-sm float-right">SHOW</f:link.action>
                </li>
            </f:for>
        </ul>
    </f:if>

    <f:link.action action="addForm" controller="Post" arguments="{blog:blog}" class="btn btn-primary">Add post</f:link.action>

    <br><br>

    <f:link.action action="list" class="btn btn-primary">Back to blog list</f:link.action>
</div>
</f:section>