<header class="sticky">
    <div class="navigation">
        <div class="logo">
            <f:cObject typoscriptObjectPath="lib.logo" />
        </div>
        <f:cObject typoscriptObjectPath="lib.navigation" />

        <button id="hamburger-icon" class="hamburger hamburger--spring" type="button">
				<span class="hamburger-box">
				  <span class="hamburger-inner"></span>
				</span>
        </button>
    </div>
</header>