<f:form.validationResults for="{object}">
    <f:if condition="{validationResults.flattenedErrors}">
        <div class="alert alert-danger">
            <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                {propertyPath}
                <ul>
                    <f:for each="{errors}" as="error">
                        <li>
                            {error} | {error.code}
                            <f:if condition="{error.arguments}">
                                | Argumente:
                                <f:for each="{error.arguments}" as="argument" iteration="i">
                                    {argument}
                                    {f:if(condition: i.isLast, then: '', else: ', ')}
                                </f:for>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </f:for>
        </div>
    </f:if>
</f:form.validationResults>