<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">


<f:debug>{slider.image.originalResource.link}</f:debug>


<f:comment>
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <f:if condition="{teaser.link}">
        <f:then>
            <f:link.typolink parameter="{teaser.link}" target="_self">
                <f:if condition="{teaser.checkbox}">
                    <f:then>

                        SLIDER



                    </f:then>
                    <f:else>

                        HEADER IMAGE

                    </f:else>
                </f:if>
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{teaser.checkbox}">
                <f:then>

                    SLIDER

                </f:then>
                <f:else>

                    HEADER IMAGE

                </f:else>
            </f:if>
        </f:else>
    </f:if>
</div>
</f:comment>

</html>
