@import "custom_scss/normalize";

@import "hamburgers/hamburgers";
@import "bootstrap/bootstrap-grid";
@import "custom_scss/fonts";
@import "custom_scss/menu";
@import "custom_scss/slick-theme-copy";
@import "custom_scss/mobilemenu";
@import "custom_scss/powermail";
@import "custom_scss/newsbox";

body {
  font-family: "Open Sans", Sans-Serif;
  background: #fff;
}

.slide-image {
  height: 500px;
  width: 100%;
  //background: url(https://images.pexels.com/photos/910310/pexels-photo-910310.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb) no-repeat center;
  background-size: cover !important;
}
