body {
  padding: 10px;
}

.layout1 {
  background-color: #eee;
  padding:10px;
  margin:5px;
  border: 1px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.list-group-item {
  margin-bottom: 10px !important;
}

.float-right {
  margin-right: 5px;
}



/* VALIDATION */
.f3-form-error {
  background-color: #c8a2be;
}