<div class="page-wrap" {f:if(condition: data.tx_pagesaddfields_colorpicker, then: 'style="background-color: {data.tx_pagesaddfields_colorpicker}"')}>
    <f:render partial="Header" arguments="{_all}"/>
    <f:render section="Main" />
    <f:render partial="Footer" arguments="{_all}"/>
</div>
